<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css.css" />
    <title>Document</title>
  </head>
  <body>
    <div id="app" v-cloak>
      {{greeting}}
      <input type="text" v-model="greeting" />
      <div v-if="isVisible" class="box1">one</div>
      <div v-else-if="isVisible2" class="box2">two</div>
      <div v-else class="box3">three</div>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script>
      let app = Vue.createApp({
        data: () => {
          return {
            greeting: "Hello there",
            isVisible: false,
            isVisible2: true,
          };
        },
      });
      app.mount("#app");
    </script>
  </body>
</html>
